.form-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 20%;
  height: 25px;
  border-radius: 5px;
  color: black;
  margin: 5px;
}
.mybutton {
  margin-left: 53rem;
  width: 75px;
  height: 25px;
  background: cornflowerblue;
  color: white;
  border: none;
  border-radius: 4px;
}
